@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-32px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(64px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-64px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}