@import "../../theme/animations";

.weather-text {
    display: inline-block;
    font-size: 48px;
    &:last-of-type {
        animation: fade-down 0.7s ease-out backwards;
        animation-delay: 1.75s;
    }
}

@for $i from 1 to 4 {
    .weather-text {
        &:nth-of-type(#{$i}) {
            animation: fade-down 0.7s ease-out backwards;
            animation-delay: $i * 0.35s;
        }
    }
}

.weather-card {
    animation: fade-down 0.7s ease-out backwards 2.45s;
}


